
body {
    font-family: "Raleway", sans-serif;
    /* background-color: rgba(255, 255, 255, 0.5); */
}
/* header */
.header {
    background-image: url('./images/Hero-bg.png');
    background-size: cover;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-logo{
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
    font-family: 'Inter', sans-serif;
}
.sign-up-button{
    width: 132px;
    height: 48px;
}
/* heading */
.heading{
    
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}

/* focus-btn */
.focus-btn{
    width: 147px;
    height: 48px;
    margin-top: 0;
}
/* banner */
.banner{
    text-align: center;
    align-items: center;
    margin: 158px 117px;
}
/* action-title */
.action-title{
    font-size: 42px;
    font-weight: bold;
}
.action-desc{
    font-size: 24px;
}
.preview-btn{
    width: 229px;
    height: 48px;
}
.action img{
    border-radius: 48px;
}
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 220px 48px 0 250px;
   
}
/* productive-user */
.productive-user{
    width: 1140px;
    height: 306px;
    background-color: #b8e1f5;
    margin: 12px 160px 137px 141px;
    border-radius: 24px;
}
/* data section */
.three_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.data-item{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.user-data{
    margin: 50px 140px;
}
.user-title{
    color: #252432;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0 0 0;
}
.data-number{
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.data-desc{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -3px;
}
/* form starts */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* space between items */
    width: 500px;
    height: 500px;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
   
}
.touch-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 120px;
    
}
.touch_title{
    font-size: 100px;
    font-weight: bold;
}
.touch_btn{
    width: 497px;
    height: 62px;
    margin-top: 0;
}
#Name, #Email{
    height: 50px;
    border-radius: 5px;
    border: #D6DDED solid 1px;
}
#Message{
    height: 150px;
    border-radius: 5px;
    border: #D6DDED solid 1px;
}

/* footer */
.links ul {
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 32px; /* space between links */
}

.footer-title{
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
    font-family: 'Inter', sans-serif;
    margin: 0 0 20px 0;
}


.links li a{
    text-decoration: none;
    text-align: center;

}

.footer-section{
    align-items: center;
    justify-content: center;
    text-align: center;
  
    margin: 200px 455px;
    
}
/* shared style */
.btn-primary{
    background-color: #4E47FF;
    border-radius: 10px;
    color: white;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 16px;
}